.clients-details{
    background-image: url(../images/clients-details.jpg);
    height: 426px;
    width: 100%;
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: 73.42% 50%;
    border-radius: 20%;
}